.letrascolor{
    text-shadow:-1px -1px 1px #292021;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e1d9ce;
    text-align: justify;
}
.color{
    background-color: #292021;
}
.formulariocolor{
    background-color: #292021;
    width: 17cm;
    text-align: left;
    
}
.botoncolor{
    text-shadow: -1px -1px 1px #cab08f, 1px 1px 1px #cab08f, -1px 1px 1px #cab08f, 1px -1px 1px #cab08f;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#cab08f ;
    color: #886750;
    text-align: center;
}
select{
    font-size: 8pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.headerscolor{
    text-shadow:-1px -1px 1px -1px #292021;
    font-size: 45;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #886750;
}